* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1320px;
    display: flex;
    padding: 10px;
}

.container1{
    max-width: 1320px;
    margin:50px auto;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
}

.container img {
    width: 100%;
}

.box {
    /* border: 1px solid black; */
    width: 33.33%;
    padding: 10px;
}

.card {
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    overflow: hidden;
    padding: 4px;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.food{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}
@media(max-width:990px){
    .box{
        width: 33.33%;
    }
}

@media(max-width:700px){
    .box{
        width: 50%;
    }
}

@media(max-width:500px)
{
    .box{
        width: 100%;
    }
}